/*header*/
header {
	background-color: #1dace0;
	display: flex;
	justify-content: space-between;
	color: #fff;
	font-size: 18px;
	padding: 5px 0;
}

.fixed {
	position: fixed;
	width: 100%;
	margin-top: -70px;
}

#margin-for-fixd {
	margin-top: 70px;
}

.icon {
	display: flex;
	align-items: center;
	margin-left: 80px;
}

.icon img {
	height: 60px;
}

.icon .name strong {
	color: #eae51f;
}

.header-right {
	display: flex;
	align-items: center;
	margin-right: 80px;
}

.header-right li:first-child {
	margin-right: 20px;
}

/*----------header ここまで----------*/

/*Welcome*/
.welcome {
	height: 500px;
	background-image: url(../img/background1.jpg);
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font-size: 64px;
}

.guideline {
	font-size: 28px;
	font-weight: bold;
	margin-top: 50px;
}

.guideline li{
margin-top: 16px;
}

.btn-group {
	margin-top: 60px;
}

.btn {
	height: 55px;
	width: 170px;
	color: #fff;
	border-radius: 10px;
	font-size: 28px;
	cursor: pointer;
	margin-left: 120px;
}

.btn:first-child {
	margin-left: 0;
}

.register {
	background-color: rgba(29,172,224, .5);
	border: 3px solid rgba(29,172,224, .5);
}

.register:hover {
	background-color: rgb(29,172,224);
}

.login {
	background-color: rgba(236,227,35, .5);
	border: 3px solid rgba(236,227,35, .5);
}

.login:hover {
	background-color: rgb(236,227,35);
}

/*welcomeここまで*/

/*curriculum*/
.curriculum {
	margin-top: 50px;
}

.subtitle {
	font-size: 36px;
	text-align: center;
}

.img-box {
	display: flex;
	justify-content: center;
	margin-top: 50px; 
}

.img-box li {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 60px;
}

.img-box li:last-child {
	margin-right: 0;
}

.img-box li img {
	height: 300px;
	width: 300px;
}

.img-box li span {
	font-size: 24px;
	margin-top: 20px;
}

/*contact*/
.contact {
	text-align: center;
	background-color: #ebf4f5;
	margin-top: 50px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form {
	display: flex;
	justify-content: center;
}

.form .name ,.form .email {
	width: 400px;
	height: 50px;
	font-size: 16px;
	box-sizing: border-box;
}

.form-left {
	margin-right: 50px;
}

.inquiry {
	width: 400px;
	height: 120px;
	font-size: 16px;
	box-sizing: border-box;
}

.form .name {
	margin-bottom: 20px;
}

.contact .form {
	margin: 50px 0 40px;
}
/*contactここまで*/

/*footer*/
footer {
	background-color: #233f51;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 18px;
	padding: 5px 0;
}

footer .footer-right {
	margin-right: 80px;
}
/*footerここまで*/

/*レスポンシブ対応*/

/*小型PC用*/
@media screen and (max-width: 1280px) {
	.img-box li {
		margin-right: 30px;
	}
}

/*タブレット用*/
/*@media screen and (max-width: 960px) {
}*/

/*スマホ用*/
@media screen and (max-width: 480px) {
	body {
		min-width: 375px;
	}
	/*header*/
	.icon {
		margin-left: 20px;
	}

	.icon .name {
		display: none;
	}

	.header-right {
		display: none;
	}
	/*welcome*/

	.title {
		font-size: 30px;
	}

	.guidline {
		font-size: 24px;
		margin-top: 30px;
		font-weight: normal;
	}

	.btn-group {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin-top: 40px;
	}

	.btn {
		height: 48px;
		width: 140px;
		margin-left: 0;
		margin-top: 20px;
		font-size: 24px;
		border-radius: 10px;
		font-weight: bold;
	}

	.btn:first-child {
		margin-top: 0;
	}



	/*curiculum*/
	.subtitle {
		font-size: 24px;
	}

	.img-box {
		flex-flow: column nowrap;
	}

	.img-box li {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 0;
	}
	/*contact*/
	/*footer*/
}